img {
  display: block;
  min-width: 100%;
  height: auto;
}

.product {
  width: 370px;
}

.product-thumb {
  position: relative;
}

.product-meta {
  padding: 15px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.product-price {
  margin-top: 0;
  margin-bottom: 0px;
}

.product-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  outline: 3px solid orange;
  display: flex;
}

.product-actions .icon {
  width: 32px;
  height: 32px;
}
